{% set page = 'maps' %}
{% extends 'layout.html' %}

{% block content %}

<div class="row">
  <h2>Maps</h2>
</div>
  

<section class="colors">

    <div class="row">
    <h3 id="map-colors">Map colors</h3>
    <h4>Polygons</h4>

    <div class="col-md-2 border">
      <p>Countries/land</p>
      <div class="p-2 map-countries-bg">
        <p class="text-uppercase m-0"><span class="color-label">RGB:</span> 226, 231, 235<br><span class="color-label">HEX:</span> #E2E7EB<br><span class="color-label">CMYK:</span> 10, 4, 4, 5<br/><span class="color-label">CLASS:</span><span class="color-class"> .map-countries-bg</span></p>
      </div>
    </div>
    <div class="col-md-2 border">
      <p>Featured country</p>
      <div class="p-2 map-featured-bg">
        <p class="text-uppercase m-0"><span class="color-label">RGB:</span> 255, 255, 255<br><span class="color-label">HEX:</span> #FFFFFF<br><span class="color-label">CMYK:</span> 0, 0, 0, 0<br/><span class="color-label">CLASS:</span><span class="color-class"> .map-featured-bg</span></p>
      </div>
    </div>
    <div class="col-md-2 border">
      <p>Water</p>
      <div class="p-2 map-water-bg">
        <p class="text-uppercase m-0"><span class="color-label">RGB:</span> 179, 216, 240<br><span class="color-label">HEX:</span> #B3D8F0<br><span class="color-label">CMYK:</span> 33, 6, 2, 0<br/><span class="color-label">CLASS:</span><span class="color-class"> .map-water-bg</span></p>
      </div>
    </div>
  </div>

  <div class="row">
    <h4>Lines</h4>
    <div class="col-md-2 border">
      <p>Boundaries</p>
      <div class="p-2 text-white map-boundary">
        <p class="text-uppercase m-0"><span class="color-label">RGB:</span> 147, 163, 171<br><span class="color-label">HEX:</span> #E2E7EB<br><span class="color-label">CMYK:</span> 30, 11, 11, 30<br/><span class="color-label">CLASS:</span><span class="color-class"> .map-boundary</span></p>
      </div>
    </div>
    <div class="col-md-2 border">
      <p>Roads</p>
      <div class="p-2 red200-bg">
        <p class="text-uppercase m-0"><span class="color-label">RGB:</span> 249, 183, 191<br><span class="color-label">HEX:</span> #F9B7BF<br><span class="color-label">CMYK:</span> 0, 35, 21, 0<br/><span class="color-label">CLASS:</span><span class="color-class"> .red200-bg</span></p>
      </div>
    </div>
  </div>

  <div class="row">
    <h4>Points</h4>
    <div class="col-md-2 border">
      <p>Cities</p>
      <div class="p-2 text-white grey600-bg">
        <p class="text-uppercase m-0"><span class="color-label">RGB:</span> 0, 0, 0<br><span class="color-label">HEX:</span> #000000<br><span class="color-label">CMYK:</span> 0, 0, 0, 100<br/><span class="color-label">CLASS:</span><span class="color-class"> .grey600-bg</span></p>
      </div>
    </div>
  </div>
</section>
{% endblock %}