{% set page = 'styles' %}
{% extends 'layout.html' %}

{% block content %}

  <h2 id="styles">Styles</h2>
  <h3 id="brandbook">UNHCR Brandbook</h3>
  <p>The <a href="https://media.unhcr.org/brand">brand book</a> has been designed to inform all of our internal and external communications activities. It has been developed and informed by qualitative and quantitative research conducted in multiple countries with our key stakeholders, including refugees, governments, corporations, fundraising partners and members of the public.</p>
  <p>All of our communications should convey our unique visual style and key messages. The following guidelines help ensure that our look, feel and language are consistent throughout the world.</p>
  <a href="https://media.unhcr.org/brand"><img src="assets/images/unhcr-brandbook.svg" alt="UNHCR brand book cover">Download Brand Book</a>
  <h3 id="fonts">Fonts</h3>
  <p>Consistency in the use of a typeface plays an important role in reinforcing our organisation’s image. Maintaining rules of type layout will help ensure we have a uniform identity.</p>
  <p><strong>Primary typeface: <a href="#">Proxima Nova</a></strong><br>Should be used as the primary font for all high level publications and products. The Proxima Nova font family can be found on Adobe Typekit.</p>
  <p><strong>Secondary typeface: <a href="#">Lato</a></strong><br>The secondary typeface may be used when Proxima Nova is not available and is recommended for digital work, as it’s easy to implement on websites. Lato can be found on Google Fonts.</p>
  <p><strong>System typeface: <a href="#">Arial</a></strong><br>In certain situations, the primary and secondary typefaces may be unavailable. In these cases, it is acceptable to use an approved crossplatform system typeface generally available on most computers.</p>
  <p>For more information on fonts and typographic hierarchy please refer to the <a href="https://media.unhcr.org/brand">brand book</a>.</p>
  <h3 id="colors">Colors</h3>
  <p>UNHCR uses a basic colour palette to avoid using different versions of the same colour. We encourage using the primary colour set on most materials. Percentage tints can be used where appropriate.</p>
  <p>Use <a href="https://en.wikipedia.org/wiki/CMYK_color_model">CMYK</a> colors on coated and uncoated paper for offset printing, such as magazines, brochures, leaflets, full colour ads, etc.</p>
  <p>Use <a href="https://en.wikipedia.org/wiki/RGB_color_model">RGB</a> colors for computer presentations, digital displays, TV productions, etc.</p>
  <p>Use <a href="https://en.wikipedia.org/wiki/Web_colors#Hex_triplet">HEX</a> colors online.</p>
  <p>For more information on colors and how to apply them please refer to the <a href="https://media.unhcr.org/brand">brand book</a>.</p>
  <h3 id="layout">Layout</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nec molestie metus. Nunc nec odio tempus, laoreet risus id, faucibus libero. Cras consectetur, justo non scelerisque malesuada, neque ipsum cursus metus, non commodo libero ex et ligula. Duis tincidunt ullamcorper sapien, ut tempus nisl imperdiet a. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce dictum justo id rhoncus fringilla. Vivamus eget egestas massa.</p>

{% endblock %}
