// overrides go here

// for example
$green: #00FFC4;
$brand-primary: $green;
$link-color: $green;
$body-bg: #FAFAFA;

$font-family-sans-serif: "Lato", Arial, sans-serif;

@import "node_modules/bootstrap/scss/bootstrap";